@using global::Data.FooterSection
@inherits StylesCardFooterBottom

@if (Prams != null)
{
    <div class="@ClassContainer">
        <p class="@ClassTitle ">@Prams.DataBuild.Title</p>
        <div class="@ClassItem">
            @foreach (var link in Prams.DataBuild.Links)
            {
                <a href="@link.Url" class="@($"{ClassLink} text-sm")">@link.Text</a>
            }
        </div>
    </div>


}
@code {

    [Parameter] public CardFooterBottom? Prams { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await UpdateStyleAsync(CLASSES);
        await base.OnInitializedAsync();
    }
}
